<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Major</th>
      <th>GPA</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="x in ugh track by $index">
      <td ng-bind="x.userID"></td>
      <td ng-bind="x.firstName"></td>
      <td ng-bind="x.lastName"></td>
      <td ng-bind="x.email"></td>
      <td ng-bind="x.major"></td>
      <td ng-bind="x.gpa"></td>
      <td>View</td>
    </tr>
  </tbody>
</table>
