
<html>
	<head>
		<title>Login</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="styles/helpdash.css">
	</head>
	<body>

	<div class="offsetLogo">
		<div class="text-center">
        <button ui-sref="contactAdmin" class="btn btn-md btn-info btn-block">Contact Administrator</button>
				<button class="btn btn-md btn-warning btn-block">Add/Drop Tutoring Classes</button>
				<button ui-sref="tutorQuit" class="btn btn-md btn-danger btn-block">Quit Tutoring Job</button>
		</div>
	</div>
	</body>
</html>
