.container {
    position: relative;
}

.norm {
  color: white;
}

.yeah {
  color: blue;
  /*background-color: #0099FF;*/
}

.likeNone {
  color: #A9E2F3;
  background-color: #A9E2F3;
}

.kindaSome {
  color: #58D3F7;
  background-color: #58D3F7;
  border-radius: #58D3F7;
}


.key {
  text-align: center;

}
.keyOne {
  display: inline-block;
  width: 100px;
  height: 20px;
  background-color: #A9E2F3;
}

.keyTwo {
  display: inline-block;
  width: 100px;
  height: 20px;
  background-color: #58D3F7;
}

.keyThree {
  display: inline-block;
  width: 100px;
  height: 20px;
  background-color: #58ACFA;
}

.keyFour {
  display: inline-block;
  width: 100px;
  height: 20px;
  background-color: #2E9AFE;
}

.keyFive {
  display: inline-block;
  width: 100px;
  height: 20px;
  background-color: #0040FF;
}

.goodAmount  {
  color: #58ACFA;
  background-color: #58ACFA;
}

.woahAmount {
  color: #2E9AFE;
  background-color: #2E9AFE;
}

.wowThatsAlot {
  color: #0040FF;
  background-color: #0040FF;
}

.no {
  color: #0099FF;
}

/*
#submitButton {
    position: absolute;
    float: right;
}
*/
/*
.modal-button {
    font-size: 1 rem;
    position: absolute;
    float: right;
}
*/

.btn-success {
    font-size: 20rem;

}
table {
    background-color: white;
}

h4 {
    color: blue;
}

/*
.modal-button {
    background-color:antiquewhite;
}
*/
