<link href="views/testStyle.css" rel="stylesheet" type="text/css">

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Time</th>
      <th>Sun</th>
      <th>Mon</th>
      <th>Tue</th>
      <th>Wed</th>
      <th>Thu</th>
      <th>Fri</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="x in ugh track by $index">
      <th scope="row" ng-bind="x.time"></th>
      <td class = "norm" ng-bind="x.Sun" ng-class="{ 'yeah': 8 < x.Sun < 10}"></td>
      <td class = "norm" ng-bind="x.Mon" ng-class="{ 'yeah': 8 < x.Mon < 10}"></td>
      <td class = "norm" ng-bind="x.Tues" ng-class="{ 'yeah': 8 < x.Tues < 10}"></td>
      <td class = "norm" ng-bind="x.Wed" ng-class="{ 'yeah': 8 < x.Wed < 10}"></td>
      <td class = "norm" ng-bind="x.Thurs" ng-class="{ 'yeah': 8 < x.Thurs < 10}"></td>
      <td class = "norm" ng-bind="x.Fri" ng-class="{ no : x.Fri < 2, yeah : x.Fri < 11 && x.Fri > 8 }"></td>
    </tr>
  </tbody>
  <!-- <tbody>
    <tr ng-repeat="x in ugh track by $index">
      <th scope="row" ng-bind="x.time"></th>
      <td class = "norm" ng-bind="x.Sun"></td>
      <td class = "norm" ng-bind="x.Mon"></td>
      <td class = "norm" ng-bind="x.Tues"></td>
      <td class = "norm" ng-bind="x.Wed"></td>
      <td class = "norm" ng-bind="x.Thurs"></td>
      <td class = "norm" ng-bind="x.Fri"></td>
    </tr>
  </tbody> -->
</table>
