<html>
	<head>
		<title>Login</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="styles/contactadmin.css">
	</head>
	<body>
    <div class="form-group text-center">
			<h1><b>Quitting So Soon?</b></h1>
			<img src="../images/logo.png" alt="Maga"  height="200" width="200">
			<h4> We're sorry to hear that you'll be leaving us. Please give a brief explanation of why and the administrator will be in contact to confirm your termination.</h4>
      <label>Message:</label>
      <textarea class="form-control" ng-model="user.message" rows="5"></textarea>
      <br>
      <button class="btn btn-md btn-info btn-block" ng-click="quitJob(user)">Submit</button>
    </div>
  </body>
</html>
