<html>
  <head>
    <title>User Dashboard</title>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../styles/userDash.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  </head>
  <body ng-app="frontendApp" ng-controller="UserdashCtrl">
    <h3>MAGA</h3>
    <button type="submit" ng-click="signOut()" class="btn btn-primary">Sign Out</button>
    <div>
      <!-- Picture -->
      <div class="col-xs-12 col-md-4">
        <div><img src="../images/logo.png" alt="Maga" height="200" width="200"></div>
          <p ng-click="getUser()">Welcome {{user}}</p>
      </div>
      <!-- classes -->
      <div class="col-xs-12 col-md-4">
        <p>Classes:</p>
        <div>
          <ul>
            <li ng-repeat="item in classArr.classInfo">{{item}}</li>
            <!-- CSE1342<br>
            CSE2342<br>
            CSE3342<br>
            CSE3345<br> -->
          </ul>
        </div>
        <!-- Popup show input for Class: Grade: -->
        <button class="btn btn-primary" id="popover">Add Class</button>
		<div id="popover-head" class="hide">Add Class:</div>
		<div id="popover-content" class="hide">
		  <form>
		    <!-- my form -->
		    <input type="text" name="class" ng-model="add.Class" placeholder="Class">
		    <input type="text" name="grade" ng-model="add.Grade" placeholder="Grade">
		    <button class="btn btn-primary">Submit</button>
		  </form>
		</div><br>
        <button class="btn btn-primary" ui-sref="helpDash" >Help</button>
      </div>
      <!-- Drop -->
      <div class="col-xs-12 col-md-4">
        <p>Don't want to be a tutor anymore?</p>
        <!-- POPUP get request show person's classes and select to drop -->
        <button class="btn btn-primary" id="popover2">Drop Class</button>
		<div id="popover-head2" class="hide">Drop:</div>
		<div id="popover-content2" class="hide">
		  <ul>
            <!-- <li ng-repeat="item in classArr.classInfo">{{item}}</li> -->
            <label ng-repeat="item in classArr.classInfo">
            	<input type="checkbox"> {{item}} <br>
            </label>
            <!-- <input type="checkbox" name="dropClass">class -->
            <br>
            <button class="btn btn-primary" ng-click="addClassFun()">Submit</button>
          </ul>
		</div>
        <p>Rating</p>
        <!-- stars rating -->
        <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
        <i class="fa fa-star-o"></i>
        <i class="fa fa-star-o"></i>
        <i class="fa fa-star-o"></i>
      </div>
    </div>
<!-- Calendar -->
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Time</th>
      <th>Sun</th>
      <th>Mon</th>
      <th>Tue</th>
      <th>Wed</th>
      <th>Thu</th>
      <th>Fri</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">2:00 - 3:00</th>
      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.sun2"></label></td>
      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.mon2"></label></td>
      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.tue2"></label></td>
      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.wed2"></label></td>
      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.thu2"></label></td>
      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.fri2"></label></td>
    </tr>
    <tr>
      <th scope="row">3:00 - 4:00</th>
      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.sun3"></label></td>
      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.mon3"></label></td>
      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.tue3"></label></td>
      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.wed3"></label></td>
      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.thu3"></label></td>
      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.fri3"></label></td>
    </tr>
    <tr>
      <th scope="row">4:00 - 5:00</th>
      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.sun4"></label></td>
      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.mon4"></label></td>
      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.tue4"></label></td>
      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.wed4"></label></td>
      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.thu4"></label></td>
      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.fri4"></label></td>
    </tr>
    <tr>
      <th scope="row">5:00 - 6:00</th>
      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.sun5"></label></td>
      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.mon5"></label></td>
      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.tue5"></label></td>
      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.wed5"></label></td>
      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.thu5"></label></td>
      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.fri5"></label></td>
    </tr>
    <tr>
      <th scope="row">6:00 - 7:00</th>
      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.sun6"></label></td>
      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.mon6"></label></td>
      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.tue6"></label></td>
      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.wed6"></label></td>
      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.thu6"></label></td>
      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.fri6"></label></td>
    </tr>
    <tr>
      <th scope="row">7:00 - 8:00</th>
      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.sun7"></label></td>
      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.mon7"></label></td>
      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.tue7"></label></td>
      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.wed7"></label></td>
      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.thu7"></label></td>
      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.fri7"></label></td>
    </tr>
    <tr>
      <th scope="row">8:00 - 9:00</th>
      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.sun8"></label></td>
      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.mon8"></label></td>
      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.tue8"></label></td>
      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.wed8"></label></td>
      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.thu8"></label></td>
      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.fri8"></label></td>
    </tr>
    <tr>
      <th scope="row">9:00 - 10:00</th>
      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.sun9"></label></td>
      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.mon9"></label></td>
      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.tue9"></label></td>
      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.wed9"></label></td>
      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.thu9"></label></td>
      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.fri9"></label></td>
    </tr>
  </tbody>
</table>


<script>
$('#popover').popover({ 
    html : true,
    title: function() {
      return $("#popover-head").html();
    },
    content: function() {
      return $("#popover-content").html();
    }
});

$('#popover2').popover({ 
    html : true,
    title: function() {
      return $("#popover-head2").html();
    },
    content: function() {
      return $("#popover-content2").html();
    }
});

// $("input:checkbox[name=type]:checked").each(function(){
//     yourArray.push($(this).val());
// });


</script>

  </body>
</html>
