#profile {
	padding-left: 15px;
}

h4 {
	text-align: center;
	color: white;
}
/*
body {
    background-color:midnightblue;
}
*/

.container {
    position: relative;
}

.norm {
  color: white;
}

.yeah {
  color: blue;
  /*background-color: #0099FF;*/
}

.likeNone {
  color: #6F90A2;
  background-color: #6F90A2;
}

.kindaSome {
  color: #477187;
  background-color: #477187;
}

.goodAmount  {
  color: #28546C;
  background-color: #28546C;
}

.woahAmount {
  color: #113B51;
  background-color: #113B51;
}

.wowThatsAlot {
  color: #032436;
  background-color: #032436;
}

.key {
  text-align: center;
}
.keyOne {
  display: inline-block;
  width: 100px;
  height: 20px;
  background-color: #6F90A2;
	color: white;
}

.keyTwo {
  display: inline-block;
  width: 100px;
  height: 20px;
  background-color: #477187;
	color: white;
}

.keyThree {
  display: inline-block;
  width: 100px;
  height: 20px;
  background-color: #28546C;
	color: white;
}

.keyFour {
  display: inline-block;
  width: 100px;
  height: 20px;
  background-color: #113B51;
	color: white;
}

.keyFive {
  display: inline-block;
  width: 100px;
  height: 20px;
  background-color: #032436;
	color: white;
}

.no {
  color: #0099FF;
}
.btn-success {
    font-size: 20rem;

}
table {
    background-color: white;
		font-family: 'Lato';
		text-align: left;
}

.jumbotron {
	background: url(../images/poly.jpg) no-repeat center center;
    background-size: cover;
	height: 10%;
	color: white;
}
