#profile {
	padding-left: 15px;
}

h4 {
	text-align: center;
	color: white;
}

.jumbotron {
	background: url(../images/poly.jpg) no-repeat center center;
    background-size: cover;
	height: 10%;
	color: white;
}
