@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Roboto);

h3{
	font-family: 'Lato';
}
h4{
	font-family: 'Lato';
}

.headcol{
	font-family: 'Roboto';
	color: white;
	border-radius: 10px;
	background: url(../images/poly.jpg) no-repeat center center;
}