.form-signin{
  text-align: center;

  margin: 0 auto !important;
  float: none !important;
  max-width: 330px
}

h1{
	color: white;
}	

.logincontainer{
	background: url(../images/poly.jpg) no-repeat center center;
}

.padds{
	background: black;
	padding: 10px;
}
