@import url(https://fonts.googleapis.com/css?family=Lato);
.container {
    position: relative;
}

.norm {
  color: pink;
}

.yeah {
  color: #0099FF;
  background-color: #0099FF;
}

/*
#submitButton {
    position: absolute;
    float: right;
}
*/
/*
.modal-button {
    font-size: 1 rem;
    position: absolute;
    float: right;
}
*/

.btn-success {
    font-size: 20rem;

}
table {
  font-family: 'Lato';
    background-color: pink;
}

h4 {
    color: blue;
}

/*
.modal-button {
    background-color:antiquewhite;
}
*/
