.jumbotron {
	background: url(../images/poly.jpg) no-repeat center center;
    background-size: cover;
	height: 10%;
}
#show-classes{
	padding: 5px;
	text-align: center;
}

p{
	text-align: center;
	padding-left: 6%;
}
h1{
	text-align: center;
}

td{
	text-align: left;
}

