<html>
	<head>
		<title>Administrator Dashboard</title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="styles/admindash.css">
	</head>
	<body>
    <div class="text-center">
  			<img src="../images/logo.png" alt="Maga" height="100" width="100">
  			<p>Welcome (USERNAME)</p>
  			<div id="history" class="panel panel-default">
  				<h4>History</h4>
  			</div>
  			<div ui-sref="admindash-tutors" id="tutors" class="panel panel-default">
  				<h4>Tutors</h4>
  			</div>
  			<div id="schedule" class="panel panel-default">
  				<h4>Schedule</h4>
  			</div>
  			<div ui-sref="admindash-applications" id="applications" class="panel panel-default">
  				<h4>Applications</h4>
  			</div>
	</body>
</html>
