<html>
  <head>
    <title>User Dashboard</title>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  </head>
  <table class="table table-striped">
    <thead class="thead-inverse">
      <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Major</th>
        <th>GPA</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="x in ugh track by $index">
        <td ng-bind="x.userID"></td>
        <td ng-bind="x.firstName"></td>
        <td ng-bind="x.lastName"></td>
        <td ng-bind="x.email"></td>
        <td ng-bind="x.major"></td>
        <td ng-bind="x.gpa"></td>
      </tr>
    </tbody>
  </table>
</html>
