<html>
	<head>
		<link rel="stylesheet" type="text/css" href="../styles/userDash.css">
		<script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.min.js"></script>
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	</head>
	<body ng-app="frontendApp" ng-controller="UserdashCtrl">
		<nav class="navbar navbar-default navbar-static-top">
		  <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <!-- <a class="navbar-brand" ui-sref="userDash">Matthew Lee</a> -->
		    </div>

		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse">
		      <ul class="nav navbar-nav">
		        <li><a ui-sref="userDash">Home<span class="sr-only">(current)</span></a></li>
		        <li  class="active"><a ui-sref="userDashClass">Add/Drop Class</a></li>
		        <li style="cursor: pointer;"><a ui-sref="contactAdmin">Contact Admin</a></li>
		        <li style="cursor: pointer;"><a ui-sref="tutorQuit">Quit Tutor</a></li>
		      </ul>
		      <ul class="nav navbar-nav navbar-right">
			      <li><button type="button" ng-click="signOut()" class="btn btn-default navbar-btn">Sign Out</button></li>
			  </ul>
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>




		<div class="col-xs-12 col-md-12">
		<button id="addButton" sstyle="text-align:center" type="button" class="btn btn-md btn-info btn-block" ng-click="open('lg')">+ Add a Class</button>
		<br>
		<div class="panel panel-info">
        <div class="panel panel-heading"><b><h3>Current Classes:</h3></b></div>
          	<div class="panel-body">
	          	<table class="table" align="left">
		    		<thead>
		    			<tr>
		    				<th>Class Type</th>
		    				<th>Class Number</th>
		    				<th>Grade</th>
		    				<th>Drop</th>
		    			</tr>
		    		</thead>
		    		<tbody>
		    			<tr ng-repeat="x in courseInfo">
		    				<td ng-bind="x.class_type">
								<td ng-bind="x.class_num">
								<td ng-bind="x.class_grade">
		    				</td>
		    				<td>
		    					<button class="btn btn-default" style="cursor: pointer;" ng-click="dropClass(x); confirmDrop('sm', x)">Drop</button>
		    				</td>
		    			</tr>
		    		</tbody>
				</table>
			</div>
		</div>
		<div class="panel panel-warning">
			<div class="panel panel-heading"><b><h3>Pending Classes:</h3></b></div>
			    <div class="panel-body">
				    <table class="table" align="left">
			    		<thead>
			    			<tr>
			    				<th>Class Type</th>
			    				<th>Class Number</th>
			    				<th>Request Type</th>
			    			</tr>
			    		</thead>
			    		<tbody>
			    			<tr ng-repeat="x in pendingCourses">
			    				<td ng-bind="x.tr_classtype"></td>
									<td ng-bind="x.tr_classnum"></td>
									<td ng-bind="x.tr_request_type"></td>
			    			</tr>
			    		</tbody>
				    </table>
				</div>
		    </div>
	</body>
</html>
