<html>
	<head>
		<link rel="stylesheet" type="text/css" href="../../styles/userDash.css">
		<link href="views/testStyle.css" rel="stylesheet" type="text/css">
	</head>
	<body ng-app="frontendApp" ng-controller="UserdashCtrl" >
		<nav class="navbar navbar-default navbar-static-top">
		  <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" ui-sref="userDash">Matthew Lee</a>
		    </div>

		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse">
		      <ul class="nav navbar-nav">
		        <li class="active"><a ui-sref="userDash">Home<span class="sr-only">(current)</span></a></li>
		        <li><a ui-sref="userDashClass">Add/Drop Class</a></li>
		        <li style="cursor: pointer;"><a ui-sref="contactAdmin">Contact Admin</a></li>
		        <li style="cursor: pointer;"><a ui-sref="tutorQuit">Quit Tutor</a></li>
		      </ul>
		      <ul class="nav navbar-nav navbar-right">
			      <li><button type="button" ng-click="signOut()" class="btn btn-default navbar-btn">Sign Out</button></li>
			  </ul>
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>

		<div class="jumbotron">
			<div class="container">
				<!-- <img src="../images/logo.png" class="img-circle" alt="Maga" height="200" width="200"> -->
		  		<h3>Welcome Matthew!</h3>
			</div>
		</div>

		<label ng-click="eee()">You Schedule</label>
		<table class="table table-bordered">
		  <thead>
		    <tr>
		      <th>Time</th>
		      <th>Sun</th>
		      <th>Mon</th>
		      <th>Tue</th>
		      <th>Wed</th>
		      <th>Thu</th>
		      <th>Fri</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr ng-repeat="x in ugh track by $index" >
		      <th scope="row" ng-bind="x.time"></th>
		      <td class = "norm" ng-bind="x.Sun" ng-class="{ 'yeah': x.Sun}"></td>
		      <td class = "norm" ng-bind="x.Mon" ng-class="{ 'yeah': x.Mon}"></td>
		      <td class = "norm" ng-bind="x.Tues" ng-class="{ 'yeah': x.Tues}"></td>
		      <td class = "norm" ng-bind="x.Wed" ng-class="{ 'yeah': x.Wed}"></td>
		      <td class = "norm" ng-bind="x.Thurs" ng-class="{ 'yeah': x.Thurs}"></td>
		      <td class = "norm" ng-bind="x.Fri" ng-class="{ 'yeah': x.Fri}"></td>
		    </tr>
		  </tbody>
		</table>

	</body>
</html>
