<html>
	<head>
	</head>
	<body ng-app="frontendApp" ng-controller="UserdashCtrl">
		<nav class="navbar navbar-default navbar-static-top">
		  <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" ui-sref="userDash">Matthew Lee</a>
		    </div>

		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse">
		      <ul class="nav navbar-nav">
		        <li class="active"><a ui-sref="userDash">Home<span class="sr-only">(current)</span></a></li>
		        <li><a ui-sref="userDashClass">Add/Drop Class</a></li>
		        <li style="cursor: pointer;"><a ui-sref="contactAdmin">Contact Admin</a></li>
		        <li style="cursor: pointer;"><a ui-sref="tutorQuit">Quit Tutor</a></li>
		      </ul>
		      <ul class="nav navbar-nav navbar-right">
			      <li><button type="button" class="btn btn-default navbar-btn">Sign Out</button></li>
			  </ul>
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>

		<div class="jumbotron">
		  <img src="../images/logo.png" class="img-circle" alt="Maga" height="200" width="200">
		  <p>Welcome Matthew!</p>
		</div>

		<table class="table table-bordered table-hover">
		  <thead>
		    <tr>
		      <th>Time</th>
		      <th>Sun</th>
		      <th>Mon</th>
		      <th>Tue</th>
		      <th>Wed</th>
		      <th>Thu</th>
		      <th>Fri</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		      <th scope="row">2:00 - 3:00</th>
		      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.sun2"></label></td>
		      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.mon2"></label></td>
		      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.tue2"></label></td>
		      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.wed2"></label></td>
		      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.thu2"></label></td>
		      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.fri2"></label></td>
		    </tr>
		    <tr>
		      <th scope="row">3:00 - 4:00</th>
		      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.sun3"></label></td>
		      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.mon3"></label></td>
		      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.tue3"></label></td>
		      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.wed3"></label></td>
		      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.thu3"></label></td>
		      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.fri3"></label></td>
		    </tr>
		    <tr>
		      <th scope="row">4:00 - 5:00</th>
		      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.sun4"></label></td>
		      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.mon4"></label></td>
		      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.tue4"></label></td>
		      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.wed4"></label></td>
		      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.thu4"></label></td>
		      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.fri4"></label></td>
		    </tr>
		    <tr>
		      <th scope="row">5:00 - 6:00</th>
		      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.sun5"></label></td>
		      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.mon5"></label></td>
		      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.tue5"></label></td>
		      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.wed5"></label></td>
		      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.thu5"></label></td>
		      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.fri5"></label></td>
		    </tr>
		    <tr>
		      <th scope="row">6:00 - 7:00</th>
		      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.sun6"></label></td>
		      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.mon6"></label></td>
		      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.tue6"></label></td>
		      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.wed6"></label></td>
		      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.thu6"></label></td>
		      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.fri6"></label></td>
		    </tr>
		    <tr>
		      <th scope="row">7:00 - 8:00</th>
		      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.sun7"></label></td>
		      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.mon7"></label></td>
		      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.tue7"></label></td>
		      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.wed7"></label></td>
		      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.thu7"></label></td>
		      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.fri7"></label></td>
		    </tr>
		    <tr>
		      <th scope="row">8:00 - 9:00</th>
		      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.sun8"></label></td>
		      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.mon8"></label></td>
		      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.tue8"></label></td>
		      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.wed8"></label></td>
		      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.thu8"></label></td>
		      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.fri8"></label></td>
		    </tr>
		    <tr>
		      <th scope="row">9:00 - 10:00</th>
		      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.sun9"></label></td>
		      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.mon9"></label></td>
		      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.tue9"></label></td>
		      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.wed9"></label></td>
		      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.thu9"></label></td>
		      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.fri9"></label></td>
		    </tr>
		  </tbody>
		</table>


	</body>
</html>