
<strong><label>Classes You Want to Tutor in?</label></strong>
<div class="form-group">
        <div class="form-group row">
            <label for="class1" class="col-xs-1 form-control-label">Course 1</label>
            <div class="col-xs-4">
                <input type="text" class="form-control" id="class1" placeholder="Course Number" ng-model="formData.course1" required>
            </div>
            <div class="col-xs-2">
                <input type="text" class="form-control" id="class1Grade" placeholder="Grade" ng-model="formData.course1Grade" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="class2" class="col-xs-1 form-control-label">Course 2</label>
            <div class="col-xs-4">
                <input type="text" class="form-control" id="class2" placeholder="Course Number" ng-model="formData.course2" required>
            </div>
            <div class="col-xs-2">
                <input type="text" class="form-control" id="class2Grade" placeholder="Grade" ng-model="formData.course2Grade" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="class3" class="col-xs-1 form-control-label">Course 3</label>
            <div class="col-xs-4">
                <input type="text" class="form-control" id="class3" placeholder="Course Number" ng-model="formData.course3" required>
            </div>
            <div class="col-xs-2">
                <input type="text" class="form-control" id="class3Grade" placeholder="Grade" ng-model="formData.course3Grade" required>
            </div>
        </div>
</div>
<label>Times You Can Tutor?</label>
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Time</th>
      <th>Sun</th>
      <th>Mon</th>
      <th>Tue</th>
      <th>Wed</th>
      <th>Thu</th>
      <th>Fri</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">2:00 - 3:00</th>
      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.sun2"></label></td>
      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.mon2"></label></td>
      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.tue2"></label></td>
      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.wed2"></label></td>
      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.thu2"></label></td>
      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.fri2"></label></td>
    </tr>
    <tr>
      <th scope="row">3:00 - 4:00</th>
      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.sun3"></label></td>
      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.mon3"></label></td>
      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.tue3"></label></td>
      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.wed3"></label></td>
      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.thu3"></label></td>
      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.fri3"></label></td>
    </tr>
    <tr>
      <th scope="row">4:00 - 5:00</th>
      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.sun4"></label></td>
      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.mon4"></label></td>
      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.tue4"></label></td>
      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.wed4"></label></td>
      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.thu4"></label></td>
      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.fri4"></label></td>
    </tr>
    <tr>
      <th scope="row">5:00 - 6:00</th>
      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.sun5"></label></td>
      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.mon5"></label></td>
      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.tue5"></label></td>
      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.wed5"></label></td>
      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.thu5"></label></td>
      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.fri5"></label></td>
    </tr>
    <tr>
      <th scope="row">6:00 - 7:00</th>
      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.sun6"></label></td>
      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.mon6"></label></td>
      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.tue6"></label></td>
      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.wed6"></label></td>
      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.thu6"></label></td>
      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.fri6"></label></td>
    </tr>
    <tr>
      <th scope="row">7:00 - 8:00</th>
      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.sun7"></label></td>
      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.mon7"></label></td>
      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.tue7"></label></td>
      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.wed7"></label></td>
      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.thu7"></label></td>
      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.fri7"></label></td>
    </tr>
    <tr>
      <th scope="row">8:00 - 9:00</th>
      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.sun8"></label></td>
      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.mon8"></label></td>
      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.tue8"></label></td>
      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.wed8"></label></td>
      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.thu8"></label></td>
      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.fri8"></label></td>
    </tr>
    <tr>
      <th scope="row">9:00 - 10:00</th>
      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.sun9"></label></td>
      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.mon9"></label></td>
      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.tue9"></label></td>
      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.wed9"></label></td>
      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.thu9"></label></td>
      <td><label class="btn btn-primary"><input type="checkbox" autocomplete="off" ng-model="formData.cal.fri9"></label></td>
    </tr>
  </tbody>
</table>

<div class="form-group row">
<div class="col-xs-6 col-xs-offset-3">
    <a ui-sref="form.payment" class="btn btn-block btn-info">
    Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div>
</div>

