<head>
    <script>
    jQuery('td').click(function(){
        jQuery(this).toggleClass('active');
    });
</script>
    <style>
    td{
        background-color: white;
    }
    td:hover {
        background-color: ghostwhite;
    }
    td.active{
        background-color: red;
    }
</style>
</head>
<body>
<strong><label>Classes You Want to Tutor in?</label></strong>
<div class="form-group">
        <div class="form-group row">
            <label for="class1" class="col-xs-1 form-control-label">Course 1</label>
            <div class="col-xs-3">
<!--                <input type="text" class="form-control" id="class1" placeholder="Course Number" ng-model="formData.courseArray[0]" required>-->
			          	<input type="text" class="form-control" list="classType" placeholder="Course Type" ng-model="formData.courseArray[0]">
					  	<datalist id="classType" >
					    	<option value="ACCT"><option value="ADPR"><option value="ADV"><option value="AERO"><option value="AMAE"><option value="ANTH">                               <option value="ARBC"><option value="ARHS"><option value="ASAG"><option value="ASCE"><option value="ASDR"><option value="ASIM">                             <option value="ASPH"><option value="ASPR"><option value="ASPT"><option value="ASSC">
						    <option value="BA"><option value="BAEX"><option value="BB"><option value="BHSC"><option value="BIOL"><option value="BL">                                   <option value="BLI"><option value="BSSN"><option value="BUSE">
						    <option value="CA"><option value="CEE"><option value="CELL"><option value="CF"><option value="CFA"><option value="CFB">                                     <option value="CHEM"><option value="CHIN"><option value="CISB"><option value="CLAR"><option value="CLAS"><option value="CM">                               <option value="COMM"><option value="CRCP"><option value="CSE">
						    <option value="DANC"><option value="DBBS"><option value="DISC"><option value="DM"><option value="DNSH"><option value="DSIN">
						    <option value="ECO"><option value="EDU"><option value="EE"><option value="EETS"><option value="EMIS"><option value="ENGL">                                 <option value="ENGR"><option value="ENSC"><option value="ENST"><option value="ECO"><option value="EPL"><option value="ESL">                                 <option value="ETST"><option value="EUPH"><option value="EV">
						    <option value="FILM"><option value="FINA"><option value="FLUT"><option value="FNAR"><option value="FREN"><option value="FRHN">
						    <option value="GEOL"><option value="GERM"><option value="GR"><option value="GUIT">
						    <option value="HARP"><option value="HARS"><option value="HB">
					  	</datalist>
            </div>
            <div class="col-xs-2">
                <input type="text" class="form-control" placeholder="Course #" ng-model="formData.courseArray[1]">
            </div>
            <div class="col-xs-2">
<!--                <input type="text" class="form-control" id="class1Grade" placeholder="Grade" ng-model="formData.courseArray[1]" required>-->
                <input type="text" class="form-control" list="classGrade" placeholder="Grade" ng-model="formData.courseArray[2]">
					<datalist id="classGrade">
			             <option value="A"><option value="A-">
			             <option value="B+"><option value="B"><option value="B-">
			             <option value="C+"><option value="C"><option value="C-">
			             <option value="D+"><option value="D"><option value="D-">
			             <option value="F">
					</datalist>
            </div>
        </div>
    
        <div class="form-group row">
            <label for="class2" class="col-xs-1 form-control-label">Course 2</label>
            <div class="col-xs-3">
                <input type="text" class="form-control" list="classType" placeholder="Course Type" ng-model="formData.courseArray[3]" required>
            </div>
            <div class="col-xs-2">
                <input type="text" class="form-control" placeholder="Course #" pattern="[0-9]{4}" ng-model="formData.courseArray[4]" required>
            </div>
            <div class="col-xs-2">
                <input type="text" class="form-control" list="classGrade" placeholder="Grade" ng-model="formData.courseArray[5]" required>
            </div>
        </div>
    
        <div class="form-group row">
            <label for="class3" class="col-xs-1 form-control-label">Course 3</label>
            <div class="col-xs-3">
                <input type="text" class="form-control" list="classType" placeholder="Course Type" ng-model="formData.courseArray[6]" required>
            </div>
            <div class="col-xs-2">
                <input type="text" class="form-control" placeholder="Course #" ng-model="formData.courseArray[7]">
            </div>
            <div class="col-xs-2">
                <input type="text" class="form-control" list="classGrade" placeholder="Grade" ng-model="formData.courseArray[8]" required>
            </div>
        </div>
</div>
<label>Times You Can Tutor?</label>
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Time</th>
      <th>Sun</th>
      <th>Mon</th>
      <th>Tue</th>
      <th>Wed</th>
      <th>Thu</th>
      <th>Fri</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">2:00 - 3:00</th>
      <td ng-click="addTime('sun', 2)"></td>
      <td ng-click="addTime('mon', 2)"></td>
      <td ng-click="addTime('tue', 2)"></td>
      <td ng-click="addTime('wed', 2)"></td>
      <td ng-click="addTime('thu', 2)"></td>
      <td ng-click="addTime('fri', 2)"></td>
    </tr>   
    <tr>
      <th scope="row">3:00 - 4:00</th>
      <td ng-click="addTime('sun', 3)"></td>
      <td ng-click="addTime('mon', 3)"></td>
      <td ng-click="addTime('tue', 3)"></td>
      <td ng-click="addTime('wed', 3)"></td>
      <td ng-click="addTime('thu', 3)"></td>
      <td ng-click="addTime('fri', 3)"></td>
    </tr>
    <tr>
      <th scope="row">4:00 - 5:00</th>
      <td ng-click="addTime('sun', 4)"></td>
      <td ng-click="addTime('mon', 4)"></td>
      <td ng-click="addTime('tue', 4)"></td>
      <td ng-click="addTime('wed', 4)"></td>
      <td ng-click="addTime('thu', 4)"></td>
      <td ng-click="addTime('fri', 4)"></td>
    </tr>
    <tr>
      <th scope="row">5:00 - 6:00</th>
      <td ng-click="addTime('sun', 5)"></td>
      <td ng-click="addTime('mon', 5)"></td>
      <td ng-click="addTime('tue', 5)"></td>
      <td ng-click="addTime('wed', 5)"></td>
      <td ng-click="addTime('thu', 5)"></td>
      <td ng-click="addTime('fri', 5)"></td>
    </tr>
    <tr>
      <th scope="row">6:00 - 7:00</th>
      <td ng-click="addTime('sun', 6)"></td>
      <td ng-click="addTime('mon', 6)"></td>
      <td ng-click="addTime('tue', 6)"></td>
      <td ng-click="addTime('wed', 6)"></td>
      <td ng-click="addTime('thu', 6)"></td>
      <td ng-click="addTime('fri', 6)"></td>
    </tr>
    <tr>
      <th scope="row">7:00 - 8:00</th>
      <td ng-click="addTime('sun', 7)"></td>
      <td ng-click="addTime('mon', 7)"></td>
      <td ng-click="addTime('tue', 7)"></td>
      <td ng-click="addTime('wed', 7)"></td>
      <td ng-click="addTime('thu', 7)"></td>
      <td ng-click="addTime('fri', 7)"></td>
    </tr>
    <tr>
      <th scope="row">8:00 - 9:00</th>
      <td ng-click="addTime('sun', 8)"></td>
      <td ng-click="addTime('mon', 8)"></td>
      <td ng-click="addTime('tue', 8)"></td>
      <td ng-click="addTime('wed', 8)"></td>
      <td ng-click="addTime('thu', 8)"></td>
      <td ng-click="addTime('fri', 8)"></td>
    </tr>
    <tr>
      <th scope="row">9:00 - 10:00</th>
      <td ng-click="addTime('sun', 9)"></td>
      <td ng-click="addTime('mon', 9)"></td>
      <td ng-click="addTime('tue', 9)"></td>
      <td ng-click="addTime('wed', 9)"></td>
      <td ng-click="addTime('thu', 9)"></td>
      <td ng-click="addTime('fri', 9)"></td>
    </tr>
  </tbody>
</table>

<div class="form-group row">
<div class="col-xs-6 col-xs-offset-3">
    <a ui-sref="form.payment" class="btn btn-block btn-info">
    Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div>
</div>
</body>


<!--Bits and pieces for later if we need them!-->

<!--
    <tr>
      <th scope="row">3:00 - 4:00</th>
      <td><input class="btn btn-primary" type="button" data-toggle="button" ng-click="addTime('sun', 3)"></td>
      <td><input class="btn btn-primary" type="button" data-toggle="button" ng-click="addTime('mon', 3)"></td>
      <td><input class="btn btn-primary" type="button" data-toggle="button" ng-click="addTime('tue', 3)"></td>
      <td><input class="btn btn-primary" type="button" data-toggle="button" ng-click="addTime('wed', 3)"></td>
      <td><input class="btn btn-primary" type="button" data-toggle="button" ng-click="addTime('thu', 3)"></td>
      <td><input class="btn btn-primary" type="button" data-toggle="button" ng-click="addTime('fri', 3)"></td>
    </tr>-->
